beautifulsoup4==4.11.2
bertopic==0.17.3
chgender==0.0.2
datasketch==1.6.5
gensim==4.3.3
hdbscan==0.8.40
kagglehub==0.3.13
matplotlib==3.6.3
nomquamgender==0.1.4
numpy==2.3.5
pandas==2.3.3
Requests==2.32.5
scikit_learn==1.7.2
seaborn==0.13.2
sentence_transformers==5.1.1
umap_learn==0.5.9.post2
